In [1]:
a = [1, 2, '3', print, 5]

In [2]:
print(type(a))

<class 'list'>

In [4]:
print(type(a[-2]))

<class 'builtin_function_or_method'>

In [5]:
a()

TypeError: 'list' object is not callable

In [24]:
def temp():
    a = input('Enter name')
    b = int(input('Enter age'))
    print(a, b)
#     return a, b

In [25]:
temp()

Enter nameAbhijeet
Enter age23
Abhijeet 23

In [10]:
name = 'Abhijeet'
age = 23

In [13]:
print(type(age))

<class 'int'>

In [43]:
print(isinstance(Students, object))

True

In [22]:
for i in range(5):
    pass

In [27]:
b

NameError: name 'b' is not defined

In [28]:
class Students:
    
    course_name = 'Data_Science'
    mentor = 'Abhijeet'

In [32]:
Students.course_name

'Data_Science'

In [33]:
Students.mentor

'Abhijeet'

In [34]:
stu = Students()

In [44]:
stu.course_name

'Data_Science'

In [45]:
stu.mentor

'Abhijeet'

In [47]:
print(id(Students), id(stu))

1851174379248 1851202953120

In [79]:
class Students:
    
    course_name = 'Data_Science'
    mentor = 'Abhijeet'
    
    def hello():
        print('Hello my name is Abhijeet')
    
    def hi():
        print('Hello World!')

In [80]:
print(Students.course_name)

Data_Science

In [81]:
print(Students.hi())

Hello World!
None

In [82]:
stu = Students()

In [83]:
print(stu.course_name)
print(stu.mentor)

Data_Science
Abhijeet

In [84]:
print(stu.hello())

TypeError: hello() takes 0 positional arguments but 1 was given

In [85]:
stu