In [1]:
a = [1, 2, '3', print, 5]

In [2]:
print(type(a))

<class 'list'>

In [4]:
print(type(a[-2]))

<class 'builtin_function_or_method'>

In [5]:
a()

TypeError: 'list' object is not callable

In [24]:
def temp():
    a = input('Enter name')
    b = int(input('Enter age'))
    print(a, b)
#     return a, b

In [25]:
temp()

Enter nameAbhijeet
Enter age23
Abhijeet 23

In [10]:
name = 'Abhijeet'
age = 23

In [13]:
print(type(age))

<class 'int'>

In [43]:
print(isinstance(Students, object))

True

In [22]:
for i in range(5):
    pass

In [27]:
b

NameError: name 'b' is not defined

In [28]:
class Students:
    
    course_name = 'Data_Science'
    mentor = 'Abhijeet'

In [32]:
Students.course_name

'Data_Science'

In [33]:
Students.mentor

'Abhijeet'

In [34]:
stu = Students()

In [44]:
stu.course_name

'Data_Science'

In [45]:
stu.mentor

'Abhijeet'

In [47]:
print(id(Students), id(stu))

1851174379248 1851202953120

In [121]:
class Students:
    
    course_name = 'Data_Science'
    mentor = 'Abhijeet'
    
    def hello(Students):
        print('Hello my name is Abhijeet')
    
    def hi(self):
        print('Hello World!')
        return self

In [122]:
print(Students.course_name)

Data_Science

In [123]:
print(Students.hi(123))

Hello World!
123

In [124]:
stu = Students()

In [125]:
print(stu.course_name)
print(stu.mentor)

Data_Science
Abhijeet

In [126]:
print(stu.hello())
print(stu.hi())

Hello my name is Abhijeet
None
Hello World!
<__main__.Students object at 0x000001AF0457B460>

In [119]:
hex(id(stu))

'0x1af04551460'

In [118]:
hex(id(Students))

'0x1af029778c0'

In [131]:
bin(1)

'0b1'

In [142]:
class Students:
    
    course_name = 'Data_Science'
    mentor = 'Abhijeet'
    
    def hello(self):
        print('Hello my name is Abhijeet')
        print('My course name is', self.course_name)
    
    def hi(self):
        print('Hello World!')
        return self

In [143]:
stu = Students()

In [144]:
stu.course_name

'Data_Science'

In [145]:
stu.hello()

Hello my name is Abhijeet
My course name is Data_Science

In [166]:
class Person:
    
    name = 'Abhijeet'
    age = 23
    
    def reveal(self):
        print(f'Name is: {self.name} and age is {self.age}')
        
    def update(self, name):
        self.name = name
        print(f'Name is: {self.name} and age is {self.age}')

In [167]:
p = Person()

In [168]:
p.reveal()

Name is: Abhijeet and age is 23

In [169]:
p1 = Person()

In [170]:
p1.update('Ravi')

Name is: Ravi and age is 23

In [206]:
class Person:
    
    living = True
    
    def __init__(self, name, age):
        self.name = name
        self.age = age
        print('Init Chala gya')
    
    def reveal(self):
        print(f'Name is: {self.name} and age is {self.age}')
        
    def update(self, name):
        self.name = name
        print(f'Name is: {self.name} and age is {self.age}')

In [207]:
p1 = Person('Ravi', 23)

Init Chala gya

In [208]:
p1.reveal()

Name is: Ravi and age is 23

In [209]:
p2 = Person('Mohit', 23)

Init Chala gya

In [210]:
p2.name, p1.name

('Mohit', 'Ravi')

In [211]:
p2.living

True

In [201]:
p1.living = True

In [212]:
id(p1.age), id(p2.age)

(140712896895440, 140712896895440)

In [202]:
id(p1.living), id(p2.living)

(140712896616272, 140712896616272)

In [203]:
id(p1.name), id(p2.name)

(1851197773616, 1851198519664)

In [204]:
print(p2.living)

True

In [205]:
print(p1.living)

True

In [219]:
a = 257
b = 257

In [220]:
id(a) == id(b)

False

In [321]:
class Abhijeet:
    
    authen = '123456789'
    
    def __init__(self, email, password, name):
        self._email = email
        self.__password = password
        self.name = name
        
    def change_mail(self, mail):
        self._email = mail
        
    def change_pass(self, authen, new_password):
        if authen == self.authen:
            self.__password = new_password
    
    def see_password(self, authen):
        if authen == self.authen:
            print(self.__password)
            
    def __change_authen(self, new_authen):
        self.authen = new_authen

In [322]:
a = Abhijeet('abc@gmail.com', 123456, 'Abhijeet')

In [323]:
a._email, a.name

('abc@gmail.com', 'Abhijeet')

In [324]:
a._email = 'hello@world'

In [325]:
a.change_mail('123@gmail.com')

In [326]:
a._email

'123@gmail.com'

In [327]:
a.see_password('123456789')

123456

In [329]:
a.change_pass('123456789', 'Hello World')

In [330]:
a.see_password('123456789')

Hello World

In [331]:
a.__change_authen()

AttributeError: 'Abhijeet' object has no attribute '__change_authen'

In [335]:
class Dogs:
    
    total_tricks = []
    
    def __init__(self, name, breed):
        self.name = name
        self.breed= breed
        
    def update_tricks(self, trick):
        self.total_tricks.append(trick)
        
    def display(self):
        print(self.total_tricks)

In [339]:
a = Dogs('Oreo', 'labra')
b = Dogs('Tuffy', 'geraman shephard')

In [340]:
a.update_tricks('sit')
a.update_tricks('fetch')
a.update_tricks('dance')

In [341]:
b.update_tricks('sing')

In [355]:
print(b.display(), a.display(), Dogs.total_tricks)

['sit', 'fetch', 'dance', 'sing']
['sit', 'fetch', 'dance', 'sing']
None None ['sit', 'fetch', 'dance', 'sing']

In [344]:
print(id(a.total_tricks), id(b.total_tricks), id(Dogs.total_tricks))

1851205646848 1851205646848 1851205646848

In [345]:
var = 10

In [346]:
id(var)

140712896895024

In [347]:
var = 20

In [348]:
id(var)

140712896895344

In [349]:
random_list = [1, 2, 3]

In [350]:
id(random_list)

1851203873600

In [351]:
random_list.append('hello')

In [352]:
id(random_list)

1851203873600

In [356]:
c = Dogs('animal', 'street_dog')

In [357]:
c.display()

['sit', 'fetch', 'dance', 'sing']

In [358]:
c.update_tricks('handshake')

In [361]:
print(a.display(), b.display(), c.display(), Dogs.total_tricks)

['sit', 'fetch', 'dance', 'sing', 'handshake']
['sit', 'fetch', 'dance', 'sing', 'handshake']
['sit', 'fetch', 'dance', 'sing', 'handshake']
None None None ['sit', 'fetch', 'dance', 'sing', 'handshake']

In [1]:
class Dogs:
    
#     total_tricks = []
    
    def __init__(self, name, breed, tricks = []):
        self.name = name
        self.breed= breed
        self.total_tricks = tricks
        
    def update_tricks(self, trick):
        self.total_tricks.append(trick)
        
    def display(self):
        print(self.total_tricks)

In [2]:
a = Dogs('Oreo', 'labra', tricks=[])
b = Dogs('Tuffy', 'german_shephard')

In [3]:
a.update_tricks('sing')
a.update_tricks('dance')
a.update_tricks('hand shake')

In [4]:
b.update_tricks('sit')

In [5]:
print(b.display())

['sit']
None

In [6]:
a.display()

['sing', 'dance', 'hand shake']

In [7]:
print(b.display(), Dogs('a', 'b').display())

['sit']
['sit']
None None

In [38]:
class Dogs:
    
#     total_tricks = []
    
    def __init__(self, name, breed):
        self.name = name
        self.breed= breed
        self.total_tricks = []
        
    def update_tricks(self, trick):
        self.total_tricks.append(trick)
        
    def display(self):
        print(self.total_tricks)

In [374]:
a = Dogs('Oreo', 'labra')
b = Dogs('Tuffy', 'german_shephard')

In [375]:
a.update_tricks('sing')
a.update_tricks('dance')
a.update_tricks('hand shake')

In [376]:
a.display()

['sing', 'dance', 'hand shake']

In [377]:
b.display()

[]

In [22]:
class Car:
    
    def __init__(self, name, mileage):
        self.name = name
        self.mileage = mileage
        
    def __add__(self, other):
        return self.mileage + other.mileage
    
    def __eq__(self, other):
        return self.mileage == other.mileage
    
    def __str__(self):
        return f'{self.name} and {self.mileage}'

In [23]:
c1 = Car('BMW', 10)
c2 = Car('City', 15)
c3 = Car('abc', 20)

In [26]:
c1 + c2

25

In [27]:
c1 == c2

False

In [29]:
str(c1)

'BMW and 10'

# Inheritance

In [34]:
class School_Members:
    def __init__(self, name, age):
        self.name = name
        self.age = age
        print(f'Initialised School Member whose name is: {self.name}')
    
    def display(self):
        print(f'Name is {self.name} and age is {self.age}')

In [40]:
class Teachers(School_Members):
    
    def __init__(self, name, age, salary):
        School_Members.__init__(self, name, age)
        self.salary = salary
        print(f'Initialised Teacher name: {self.name}')
    
    def display(self):
        School_Members.display(self)
        print(f'Salary: {self.salary}')

In [44]:
t = Teachers('Abhijeet', 23, 500)

Initialised School Member whose name is: Abhijeet
Initialised Teacher name: Abhijeet

In [45]:
t.display()

Name is Abhijeet and age is 23
Salary: 500

In [46]:
class Student(School_Members):
    
    def __init__(self, name, age, marks, roll, attendance):
        School_Members.__init__(self, name, age)
        self.roll = roll
        self.marks = marks
        self.attendance = attendance
        print(f'Initialised student name: {self.name}')
        
    def display(self):
        School_Members.display(self)
        print(f'Marks {self.marks} Roll {self.roll}')

In [47]:
s1 = Student('Hello', 20, 25, 1, 1)

Initialised School Member whose name is: Hello
Initialised student name: Hello

In [48]:
s1.display()

Name is Hello and age is 20
Marks 25 Roll 1

In [49]:
sm = School_Members('Abhijeet', 23)

Initialised School Member whose name is: Abhijeet

In [50]:
print(sm.name, sm.age)

Abhijeet 23

In [18]:
class School_Members:
    def __init__(self, name, age):
        self.name = name
        self.age = age
        print(f'Initialised School Member whose name is: {self.name}')
    
    def display(self):
        print(f'Name is {self.name} and age is {self.age}')

In [19]:
class Teachers(School_Members):
    
    def __init__(self, name, age, salary):
        super().__init__(name, age)
        self.salary = salary
        print(f'Initialised Teacher name: {self.name}')
    
    def display(self):
        super().display()
        print(f'Salary: {self.salary}')

In [44]:
class Student(School_Members):
    
    def __init__(self, name, age, marks, roll, attendance):
        super().__init__(name, age)
        self.roll = roll
        self.marks = marks
        self.attendance = attendance
        print(f'Initialised student name: {self.name}')
        
    def display(self):
        super().display()
        print(f'Marks {self.marks} Roll {self.roll}')

In [45]:
t = Teachers('Abhijeet', 23, 500)

Initialised School Member whose name is: Abhijeet
Initialised Teacher name: Abhijeet

In [46]:
t.display()

Name is Abhijeet and age is 23
Salary: 500

In [47]:
s1 = Student('Hello', 20, 25, 1, 1)

Initialised School Member whose name is: Hello
Initialised student name: Hello

In [48]:
s1.display()

Name is Hello and age is 20
Marks 25 Roll 1

In [66]:
class Person:
    
    name = 'Abhijeet'
    
    def display(Person):
        print(Person.name)
        
    def update(self, name):
        self.name = name

In [67]:
Person.display(Person())

Abhijeet

In [68]:
Person().display()

Abhijeet

In [69]:
p1 = Person()

In [70]:
p2 = Person()

In [71]:
p2.update('Hello')

In [72]:
print(p1.name, p2.name)

Abhijeet Hello

In [83]:
print(id(p1.name), id(p2.name), id(Person.name))

2607517789296 2607517659952 2607517789296

In [73]:
class Dogs:
    
    total_tricks = []
    
    def __init__(self, name, breed):
        self.name = name
        self.breed= breed
        
    def update_tricks(self, trick):
        self.total_tricks.append(trick)
        
    def display(self):
        print(self.total_tricks)

In [74]:
d1 = Dogs('abc', 'labra')
d2 = Dogs('xyz', 'G S')

In [75]:
d1.update_tricks('sit')
d1.update_tricks('dance')

In [77]:
print(d1.total_tricks, d2.total_tricks)

['sit', 'dance'] ['sit', 'dance']

In [78]:
var = 1
id(var)

140719057868560

In [79]:
var = 2
id(var)

140719057868592

In [81]:
l = [1, 2, 3]
print(id(l))

2607531509056

In [82]:
l.append(4)
print(id(l))

2607531509056

In [86]:
print(temp)

<function temp at 0x0000025F1C2A6B80>