In [7]:
def adder(a,b):
  c = a + b
  return c

In [9]:
a = 2
b = 3
adder(a,b)

5

In [5]:
def subtraction(a,b):
  print(a-b)

In [6]:
subtraction(a,b)

-1

In [13]:
def calculator(a,b,c,d,e,f,g,h):
  return (a+b),(c-d),(e*f),(g/h)

In [14]:
calculator(5,2,6,8,2,5,6,10)

(7, -2, 10, 0.6)

In [16]:
# default arguments

def fav_country( country= "Paris"):
  print( "i love this country" + country)


fav_country()
fav_country("india")

i love this countryParis
i love this countryindia

In [29]:
# Loops introduction
# i < 10, 20

for i in range(2,11):
  print("2 x" , i , "=" , 2*i )
  # print(i)

2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [30]:
fruits = ["apple", "mango", "kiwi"]

In [31]:
fruits

['apple', 'mango', 'kiwi']

In [32]:
fruits.append("banana")

In [33]:
fruits

['apple', 'mango', 'kiwi', 'banana']

In [34]:
def fruit_basket(fruits):
  for i in fruits:
    print(i)

In [36]:
print(fruit_basket)

<function fruit_basket at 0x7fafbd0ee950>

In [38]:
fruit_basket(fruits)

apple
mango
kiwi
banana

In [40]:
def empty():
  pass

In [41]:
def return_func(a,b):
  return a+b

In [42]:
return_func(6,7)

13

In [43]:
# Args and Kwargs
# Arbitatry Arguments => *args
# Arbitary Key-Words Arguments => **kwargs

In [45]:
def Args_function(a,b,*args):
  print(a+b)
  print(args)

In [48]:
Args_function(3,4,5,6,7,8)

7
(5, 6, 7, 8)

In [56]:
dictonary = {"1":"sarvesh","2":"coding_blocks"}

In [57]:
dictonary

{'1': 'sarvesh', '2': 'coding_blocks'}

In [58]:
# define a list with your name , age , hobbies, school name and define a function to print the list

# define a function to print tables of 4 ,6 ,9

# define a function to calculate area of a circle and return the area using the return function.

# write a function to swap two numbers.

# write a function to sum and multiply all numbers in a list

# write a function to calculate the parabola equation

In [65]:
# define a list with your name , age , hobbies, school name and define a function to print the list
my_self = ["sarvesh", 20 , "cricket", "Ryan"]

def about_myself(my_self):
  for i in my_self:
    print(i)

In [67]:
about_myself(my_self)

sarvesh
20
cricket
Ryan

In [68]:
# define a function to print tables of 4 ,6 ,9

def tables(a):
  for i in range(1,11):
    print("4 x ", i ," = ",4*i)

tables(4)

4 x  1  =  4
4 x  2  =  8
4 x  3  =  12
4 x  4  =  16
4 x  5  =  20
4 x  6  =  24
4 x  7  =  28
4 x  8  =  32
4 x  9  =  36
4 x  10  =  40

In [69]:
def tables(a):
  for i in range(1,11):
    print("6 x ", i ," = ",6*i)

tables(6)

6 x  1  =  6
6 x  2  =  12
6 x  3  =  18
6 x  4  =  24
6 x  5  =  30
6 x  6  =  36
6 x  7  =  42
6 x  8  =  48
6 x  9  =  54
6 x  10  =  60

In [70]:
def tables(a):
  for i in range(1,11):
    print("9 x ", i ," = ",9*i)

tables(9)

9 x  1  =  9
9 x  2  =  18
9 x  3  =  27
9 x  4  =  36
9 x  5  =  45
9 x  6  =  54
9 x  7  =  63
9 x  8  =  72
9 x  9  =  81
9 x  10  =  90

In [72]:
# define a function to calculate area of a circle and return the area using the return function.

def area_circle(radius):
  return 3.14*(radius**2)

area_circle(5)

78.5

In [74]:
# write a function to swap two numbers.

def swap(a,b):
  temp = a
  a = b
  b = temp
  return a,b

a = 8
b = 10

swap(a,b)

(10, 8)

In [77]:
# write a function to sum and multiply all numbers in a list

numbers = [ 2,6,-8,45,10]

def sum_mul(nos):
  sum = 0
  product = 1
  for i in nos:
    sum = sum + i
    product = product*i
  return sum, product

sum_mul(numbers)

(55, -43200)

In [78]:
# write a function to calculate the parabola equation

def parabola(x,y):
  return x**2+y**2

parabola(4,5)

41