In [1]:
# Nested Loops
count = 1
while (count <=3):
    count1 = 1
    print('While', count)
    while (count1 <=5):
        print('Nested While', count1)
        count1+=1
    count+=1

While 1
Nested While 1
Nested While 2
Nested While 3
Nested While 4
Nested While 5
While 2
Nested While 1
Nested While 2
Nested While 3
Nested While 4
Nested While 5
While 3
Nested While 1
Nested While 2
Nested While 3
Nested While 4
Nested While 5

In [2]:
# 1. Break
# 2. Continue

In [4]:
a = 0

while (a<5):
    print(a)
    a+=1
    if a == 3:
        break

0
1
2

In [5]:
# Nested Loops
count = 1
while (count <=3):
    count1 = 1
    print('While', count)
    while (count1 <=5):
        print('Nested While', count1)
        if count1 == 2:
            break
        count1+=1
    count+=1

While 1
Nested While 1
Nested While 2
While 2
Nested While 1
Nested While 2
While 3
Nested While 1
Nested While 2

In [154]:
# # Nested Loops
# count = 1
# while (count <=3):
#     count1 = 1
#     print('While', count)
#     while (count1 <=5):
#         print('Nested While', count1)
#         if count1 == 2:
#             continue
#         count1+=1
#     count+=1

In [9]:
# Nested Loops
count = 1
while (count <= 3):
    count1 = 0
    print('While', count)
    while (count1 <=5):
        count1+=1
        if count1 == 2:
            continue
        print('Nested While', count1)
    count+=1

While 1
Nested While 1
Nested While 3
Nested While 4
Nested While 5
Nested While 6
While 2
Nested While 1
Nested While 3
Nested While 4
Nested While 5
Nested While 6
While 3
Nested While 1
Nested While 3
Nested While 4
Nested While 5
Nested While 6

In [12]:
for i in range(10):
    if i == 2 or i == 5 or i == 8:
        continue
    print(i)

0
1
3
4
6
7
9

In [29]:
num = int(input('Enter a number'))

# flag = False

if num == 1:
    print('Not prime not composite')
elif num > 1:
    for i in range(2, int(num/2)+1):
        if (num%i == 0):
#             flag = True
            print('Composite Number')
            break
        
        if (i == (int(num/2)+1 - 1)):
            print('Prime Number')
        
#     if flag == False:
#         print('Prime Number')
#     else:
#         print('Composite Number')

Enter a number97
Prime Number

In [30]:
# In built data types in Python:
# String
# Lists
# Tupple
# Dictionary 
# Set

In [33]:
print('"5"')

"5"

In [42]:
# American Standard of Code for Information Interchange

print(ord('5'))

53

In [45]:
string = 'Hello World!'

for i in string:
    print(i, end=' ')

H e l l o   W o r l d !

In [61]:
print(chr(97))

a

In [72]:
def to_upper(sentence):
    for i in sentence:
        print(chr(ord(i) - 32), end=' ')

In [73]:
to_upper('hello my name is abhijeet')

H E L L O   M Y   N A M E   I S   A B H I J E E T

In [75]:
def to_lower(sentence):
    for i in sentence:
        print(chr(ord(i) + 32), end=' ')

In [76]:
to_lower('HELLO')

h e l l o

In [77]:
var1 = 1.0
var2 = 10
print('The value of var1 is:', var1, 'and value of var2 is:', var2)

The value of var1 is: 1.0 and value of var2 is: 10

In [79]:
print('The value of var1 is: {} and value of var2 is: {}'.format(var2, var1))

The value of var1 is: 10 and value of var2 is: 1.0

In [81]:
print(f'The value of var1 is: {var1} and value of var2 is: {var2}')

The value of var1 is: 1.0 and value of var2 is: 10

In [83]:
if input('Enter?') == 'Yes':
    print('Authenticated')
else:
    print('Not Authenticated')

Enter?Yes
Not Authenticated

In [89]:
print(input().strip())

Hello
Hello

In [91]:
if input('Enter?').strip() == 'Yes':
    print('Authenticated')
else:
    print('Not Authenticated')

Enter?    Yes
Authenticated

In [92]:
string = '   Abhijeet Bhattacharya    '
print(string.strip())

Abhijeet Bhattacharya

In [99]:
string = 'Abhijeet Bhattacharya'
print(string.split())

['Abhijeet', 'Bhattacharya']

In [96]:
string.split?

In [103]:
sentence = 'the_man_is_sleeping on_the_bench'
print(sentence.split('_'))

['the', 'man', 'is', 'sleeping on', 'the', 'bench']

In [106]:
string.strip?

In [107]:
def to_strip(word):
    temp = ''
    for i in word:
        if ord(i) == 32:
            continue
        else:
            temp+=i
    print(temp)

In [108]:
to_strip('    Yes    ')

Yes

In [110]:
print(sentence.replace(' ', '_'))

the_man_is_sleeping_on_the_bench

In [112]:
sentence = sentence.replace(' ', '_')
print(sentence)

the_man_is_sleeping_on_the_bench

In [115]:
print(sentence.replace('e', '!', 2))

th!_man_is_sl!eping_on_the_bench

In [116]:
sentence.replace?

In [117]:
def to_replace(charecter, replace_chr, word):
    temp = ''
    for i in word:
        if i == charecter:
            temp += replace_chr
        else:
            temp += i
    print(temp)

In [118]:
to_replace('e', '!', 'the_man_is_sleeping_on_the_bench')

th!_man_is_sl!!ping_on_th!_b!nch

In [120]:
sentence.count('e')

5

In [122]:
sentence.upper()

'THE_MAN_IS_SLEEPING_ON_THE_BENCH'

In [123]:
sentence.lower()

'the_man_is_sleeping_on_the_bench'

In [147]:
while 1:
    
    inp = input('Enter authentication').strip().lower()
    
    if inp == 'yes':
        print('Authenticated')
        break
    else:
        print('Not Authenticated')

Enter authentication   Yes is my answer!
Not Authenticated
Enter authenticationYes
Authenticated

In [146]:
sentence[:10]

'the_man_is'

In [130]:
sentence

'the_man_is_sleeping_on_the_bench'

In [144]:
chr(11010)

'⬂'

In [136]:
ord('G')

71

In [153]:
while 1:
    
    inp = input('Enter authentication').strip().lower()
    print(inp)
    if inp[:3] == 'yes':
        print(inp[:3])
        print('Authenticated')
        break
    else:
        print('Not Authenticated')

Enter authenticationyees   sakdj,bcskdjnjfc
yees   sakdj,bcskdjnjfc
Not Authenticated
Enter authenticationYes
yes
yes
Authenticated

# LIST

In [155]:
sentence

'the_man_is_sleeping_on_the_bench'

In [161]:
def temp():
    print('Hello')

In [344]:
student = ['1', 1, 1.0, True, sentence, temp, range, print('hi')]

hi

In [345]:
print(type(student))

<class 'list'>

In [346]:
student[1]

1

In [347]:
print(student[-2])

<class 'range'>

In [348]:
student[-1]('Hello')

TypeError: 'NoneType' object is not callable

In [349]:
for i in student:
    print(i, end=' ')

1 1 1.0 True the_man_is_sleeping_on_the_bench <function temp at 0x000002650D87F3A0> <class 'range'> None

In [350]:
student

['1',
 1,
 1.0,
 True,
 'the_man_is_sleeping_on_the_bench',
 <function __main__.temp()>,
 range,
 None]

In [351]:
student.append('Hello')

In [352]:
student

['1',
 1,
 1.0,
 True,
 'the_man_is_sleeping_on_the_bench',
 <function __main__.temp()>,
 range,
 None,
 'Hello']

In [353]:
def to_split(word, delimiter):
    temp = ''
    sentence = []
    for i in word:
        if i == delimiter:
            sentence.append(temp)
            temp = ''
        else:
            temp += i
    sentence.append(temp)
    print(sentence)

In [354]:
to_split(sentence, '_')

['the', 'man', 'is', 'sleeping', 'on', 'the', 'bench']

In [355]:
student.append?

In [356]:
student.insert(0, 'hi')

In [357]:
student

['hi',
 '1',
 1,
 1.0,
 True,
 'the_man_is_sleeping_on_the_bench',
 <function __main__.temp()>,
 range,
 None,
 'Hello']

In [358]:
student.insert(0, 'Abhijeet')
print(student)

['Abhijeet', 'hi', '1', 1, 1.0, True, 'the_man_is_sleeping_on_the_bench', <function temp at 0x000002650D87F3A0>, <class 'range'>, None, 'Hello']

In [359]:
student.pop(0)
print(student)

['hi', '1', 1, 1.0, True, 'the_man_is_sleeping_on_the_bench', <function temp at 0x000002650D87F3A0>, <class 'range'>, None, 'Hello']

In [360]:
var = student.pop()
print(var, student)

Hello ['hi', '1', 1, 1.0, True, 'the_man_is_sleeping_on_the_bench', <function temp at 0x000002650D87F3A0>, <class 'range'>, None]

In [361]:
student

['hi',
 '1',
 1,
 1.0,
 True,
 'the_man_is_sleeping_on_the_bench',
 <function __main__.temp()>,
 range,
 None]

In [362]:
def to_pop(student, index):
#     student = []
    var = student[index]
    student.append(student[:index])
    print(student)
    student.append(student[(index + 1): -1])
    print(student)
    student = student[-2] + student[-1]
    print(student)
    return var

In [363]:
to_pop(student, 5)

['hi', '1', 1, 1.0, True, 'the_man_is_sleeping_on_the_bench', <function temp at 0x000002650D87F3A0>, <class 'range'>, None, ['hi', '1', 1, 1.0, True]]
['hi', '1', 1, 1.0, True, 'the_man_is_sleeping_on_the_bench', <function temp at 0x000002650D87F3A0>, <class 'range'>, None, ['hi', '1', 1, 1.0, True], [<function temp at 0x000002650D87F3A0>, <class 'range'>, None]]
['hi', '1', 1, 1.0, True, <function temp at 0x000002650D87F3A0>, <class 'range'>, None]

'the_man_is_sleeping_on_the_bench'

In [366]:
student.reverse()

In [365]:
student

[[<function __main__.temp()>, range, None],
 ['hi', '1', 1, 1.0, True],
 None,
 range,
 <function __main__.temp()>,
 'the_man_is_sleeping_on_the_bench',
 True,
 1.0,
 1,
 '1',
 'hi']

# Tupples

In [367]:
tup = (1, 2, 3, '4', 1, 20.2, 11)

In [368]:
for i in tup:
    print(i)

1
2
3
4
1
20.2
11

In [375]:
tup

(1, 2, 3, '4', 1, 20.2, 11)

In [376]:
def calculator(a, b):
    return a+b, a-b, a*b, a/b

In [382]:
a = calculator(5, 2)
print(a)

(7, 3, 10, 2.5)

In [383]:
print(list(tup))

[1, 2, 3, '4', 1, 20.2, 11]

In [387]:
tup = list(tup)
tup.append('Hello')
tup = tuple(tup)
print(tup)

(1, 2, 3, '4', 1, 20.2, 11, 'Hello', 'Hello')

# Dictionary

In [408]:
dictionary = {
    '1': 'The first number of whole numbers',
    2: 'The number 2',
    3.0: 3,
    4: print,
    True: 2,
    d:{
        1: 'One',
        2:'Two',
        3:'Three'
    }
}

In [409]:
dictionary

{'1': 'The first number of whole numbers',
 2: 'The number 2',
 3.0: 3,
 4: <function print>,
 True: 2,
 2.5: {1: 'One', 2: 'Two', 3: 'Three'}}

In [410]:
dictionary[4]('Hello')

Hello

In [416]:
for i in dictionary:
    print(i, dictionary[i])

1 The first number of whole numbers
2 The number 2
3.0 3
4 <built-in function print>
True 2
2.5 {1: 'One', 2: 'Two', 3: 'Three'}

In [412]:
dictionary.values()

dict_values(['The first number of whole numbers', 'The number 2', 3, <built-in function print>, 2, {1: 'One', 2: 'Two', 3: 'Three'}])

In [414]:
dictionary[d].keys()

dict_keys([1, 2, 3])

In [415]:
dictionary.keys()

dict_keys(['1', 2, 3.0, 4, True, 2.5])

In [417]:
dictionary.items()

dict_items([('1', 'The first number of whole numbers'), (2, 'The number 2'), (3.0, 3), (4, <built-in function print>), (True, 2), (2.5, {1: 'One', 2: 'Two', 3: 'Three'})])

In [418]:
if type(dictionary) == dict:
    print("hello")

hello

In [429]:
values = []

for i in dictionary.items():
    print(i)
    if type(i[1]) == dict:
        for j in i[1]:
            values.append(i[1][j])
#         values.append(i[1].values())
        continue
    else:
        values.append(i[1])

('1', 'The first number of whole numbers')
(2, 'The number 2')
(3.0, 3)
(4, <built-in function print>)
(True, 2)
(2.5, {1: 'One', 2: 'Two', 3: 'Three'})

In [430]:
values

['The first number of whole numbers',
 'The number 2',
 3,
 <function print>,
 2,
 'One',
 'Two',
 'Three']

# Sets

In [431]:
a = []
for i in range(20):
    a.append(i)

In [432]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [433]:
b = []
for i in range(10, 30):
    b.append(i)

In [434]:
b

[10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29]

In [435]:
print(type(a), type(b))

<class 'list'> <class 'list'>

In [436]:
print(type(set(a)), type(set(b)))

<class 'set'> <class 'set'>

In [437]:
print(set(a).intersection(b))

{10, 11, 12, 13, 14, 15, 16, 17, 18, 19}

In [438]:
print(set(a).union(b))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29}

In [439]:
print(set(a))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19}

In [441]:
list_a_b = a + b

In [442]:
list_a_b

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29]

In [443]:
print(set(list_a_b))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29}

In [444]:
print(1, 2.0, 3, 54, 3, 225)

1 2.0 3 54 3 225

In [445]:
print?

# Args and Kwargs

In [489]:
def adder(a, b, *args, c = 0, **kwargs):
#     c = 0
    print(a+b)
    a = a+b
    print(args)
    print(kwargs)
    for i in args:
        a += i
    print(a)
    print(c)

In [490]:
adder(1, 9, 1, 2, 3.5, 1, c = 212)

10
(1, 2, 3.5, 1)
{}
17.5
212

In [492]:
adder(1, 9, 1, 2, 3.5, 1, 212, name = 'adder dunction', functionality = 'Add')

10
(1, 2, 3.5, 1, 212)
{'name': 'adder dunction', 'functionality': 'Add'}
229.5
0