In [1]:
# !pip uninstall pandas
# !pip install pandas==1.3.0

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv('C:/Users/bhatt/OneDrive/Desktop/whisper-main/Titanic_Dataset/train.csv')

In [4]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [6]:
cols_dropped = ['PassengerId', 'Name', 'Ticket', 'Cabin']

In [7]:
data = data.drop(cols_dropped, axis = 1)

In [8]:
data.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [9]:
from sklearn.preprocessing import LabelEncoder

In [10]:
label_enc = LabelEncoder()

data['Sex'] = label_enc.fit_transform(data['Sex'])

In [11]:
data['Embarked'] = label_enc.fit_transform(data['Embarked'])

In [12]:
data.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    1  22.0      1      0   7.2500         2
1         1       1    0  38.0      1      0  71.2833         0
2         1       3    0  26.0      0      0   7.9250         2
3         1       1    0  35.0      1      0  53.1000         2
4         0       3    1  35.0      0      0   8.0500         2

In [13]:
data = data.fillna(data['Age'].mean())

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    int32
 3   Age       891 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
 7   Embarked  891 non-null    int32
dtypes: float64(2), int32(2), int64(4)
memory usage: 48.9 KB

In [15]:
input_col = ['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare','Embarked']
output = ['Survived']

X_data = data[input_col]
Y_data = data[output]

In [16]:
X_data.shape, Y_data.shape

((891, 7), (891, 1))

In [60]:
def entropy(col):
    favour = np.unique(col, return_counts = True)
    N = col.shape[0]
    ent_py = 0
    for i in favour[1]:
        prob = i/N
        ent_py += -1 * (prob * np.log2(prob))
    
    return ent_py

In [61]:
a = np.array([[1,2], 
              [3,4]])
print(a.shape, a[0], a[0].shape)

(2, 2) [1 2] (2,)

In [62]:
def divide_data(X_data, feat, value):
    X_right = pd.DataFrame([], columns = X_data.columns)
    X_left = pd.DataFrame([], columns = X_data.columns)
#     X_right = []
#     X_left = []
    
    for i in range(X_data.shape[0]):
        val = X_data[feat].loc[i]
        
        if val >= value:
#             X_right.append(X_data.loc[i])
#             X_right = X_right.append(X_data.loc[i])
            X_right = pd.concat([X_right, X_data.iloc[i: i + 1]])
        else:
#             X_left.append(X_data.loc[i])
#             X_left = X_left.append(X_data.loc[i])
            X_left = pd.concat([X_left, X_data.iloc[i: i + 1]])
        
#     return pd.DataFrame(X_left, columns=X_data.columns), pd.DataFrame(X_right, columns = X_data.columns)
    return X_left, X_right

In [63]:
left, right = divide_data(data[:10], 'Sex', 0.5)

In [64]:
print(left.shape, right.shape)

(5, 8) (5, 8)

In [65]:
print(left)

  Survived Pclass Sex   Age SibSp Parch     Fare Embarked
1        1      1   0  38.0     1     0  71.2833        0
2        1      3   0  26.0     0     0   7.9250        2
3        1      1   0  35.0     1     0  53.1000        2
8        1      3   0  27.0     0     2  11.1333        2
9        1      2   0  14.0     1     0  30.0708        0

In [66]:
def info_gain(X_data, feat, value):
    left, right = divide_data(X_data, feat, value)
    
    prob_l = left.shape[0]/X_data.shape[0]
    prob_r = right.shape[0]/X_data.shape[0]
    
    i_gain = entropy(X_data.Survived) - (prob_l * entropy(left.Survived) + 
                                         prob_r * entropy(right.Survived))
    return i_gain

In [68]:
for i in X_data.columns:
    print(i, info_gain(data, i, data[i].mean()))

Pclass 0.07579362743608165
Sex 0.2176601066606142
Age 0.001158644038169343
SibSp 0.009584541813400071
Parch 0.015380754493137694
Fare 0.042140692838995464
Embarked 0.015909401384176403

In [69]:
class Decision_Tree:
    def __init__(self, depth = 0, max_depth = 7):
        self.left = None
        self.right = None
        self.feat = None
        self.value = None
        self.max_depth = max_depth
        self.depth = depth
        self.target = None
    
    def train(self, X_train):
        f = ['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare','Embarked']
        i_gain = []
        
        for i in f:
            i_gain.append(info_gain(X_train, i, X_train[i].mean()))
            
        self.feat = f[np.argmax(i_gain)]
        self.value = X_train[self.feat].mean()
        
        data_left, data_right = divide_data(X_train, self.feat, self.value)
        
        if data_left.shape[0] == 0 or data_right.shape[0] == 0:
            if X_train.Survived.mean() >= 0.5:
                self.target = 'Survived'
            else:
                self.target = 'Not Survived'
            return 'Done Training'
        
        if self.depth >= self.max_depth:
            if X_train.Survived.mean() >= 0.5:
                self.target = 'Survived'
            else:
                self.target = 'Not Survived'
            return 'Done Training'
        
        self.left = Decision_Tree(depth = self.depth + 1)
        self.left.train(data_left)
        
        self.right = Decision_Tree(depth = self.depth + 1)
        self.right.train(data_right)
        
        if X_train.Survived.mean() >= 0.5:
            self.target = 'Survived'
        else:
            self.target = 'Not Survived'
        return 'Done Training'